<div class="container-fluid">
  <h2>Employee Details</h2>

  <!--Display No of Employees-->
  <div class="row">
    <p id="count">Total Number of Employees : {{this.count}}</p>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">

        <!-- Calls dropdown function -->
        <div class="col-4">
          <select id="myselected" [(ngModel)]="selected" (ngModelChange)="filterText()">
            <option *ngFor="let employee of Departments" value={{employee}}>{{employee}}</option>
          </select>
        </div>

        <div class="col-4">
          <input type="text" class="form-control" placeholder="Name/Email" [(ngModel)]="Textsearch"
            (ngModelChange)="searchtext()">
        </div>

        <div class="col-4">
          <button type="button" class="btn btn-light mb-3" (click)="reloadPage()">Reset or Reload</button>
        </div>

        <!-- <div class="col-4">
            <select id="myselected" [(ngModel)]="selected" (ngModelChange)="onOptionsSelected()">
                <option *ngFor="let sorting of Sort" value={{sorting}}>{{sorting}}</option>
              </select>
        </div> -->
      </div>
    </div>
  </div>

  <!-- table data -->
  <div class="row">
    <div class="col">

      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">E-mail</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of Employee">
            <!-- <th scope="row">{{ i + 1 }}</th> -->
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.department}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
